
/*
.row:after {
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

[class*=col-] {
    float:left;
        padding-left: 1rem;
    padding-right: 1rem;
}*/





@media only screen and (min-width: 1175px) {

   body {
 width: 100%;  
}
   
   .wrapper {
   width: 90%;  
   height: 100%;
   margin-top: 23m;
}

   .side-bar {
       width: 20%;
       float: left;  
       margin-left: 8em;    
   }

   .content {
     width: 65%;
     float:left;
 }

.menu img {
    width: 2.5em;  
}

.menu li {
    margin-top: 0.8em;
}

.menu li:hover img {
    margin-left:1em;
   }

 .menu a {
      margin: 0; 
      padding-left: 1em; 
     vertical-align: 40%; 
     font-size: 1.7em;
  }

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 12em;
    margin-bottom:2em;
}

 .slider:after, .slider img:after, .below-slider:after, .subscribe:after, .posts:after, .content:after, .side-bar:after {
    
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

.slider {
    position: relative;
     
     width:100%;
}


.slider img {
   width: 100%;
}


.slider li {
     
        height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}   

.slider li.active {
    display: block;
}


.slider h2 {
    background: white;
  position: absolute;
  right: 0;
  top: 60%;
  padding: 0.4em;
  font-size: 2.5em;
  font-weight: lighter;
}

.slider p {
    background: black;
    color: white;
  position: absolute;
  right: 0;
  top: 74%;
  padding: 0.4em;
  font-size: 1.8em;
 
}

.below-slider {
    margin-bottom: 3em;
}

.below-slider h4 {
 font-size: 1.8em;
 line-height: 0.1em;
}


.below-slider p {
    font-size: 1em;
    line-height: 0.1em;
    padding-bottom: 1em;
   
}

.subscribe {
     padding: 0.8em;
     margin-top: 3em;
     margin-bottom:2em;
     border-top: 0.1em lightgray dashed;
     border-bottom: 0.1em lightgray dashed;
}

.subscribe input {
        width:25%;
    }

.subscribe lable {
        width:50%;
    }

    

.slider-col {
    width: 25%;
    float: left;
}

.posts {
    clear: left;
    width: 100%;
    margin-top: 10em;
    
}

.posts-col {
    width: 25%;
     float: left;
     padding: 0 1em;
}

.tweet, .community {
    margin-top:3em;
    width: 19em;
}
}












@media only screen  and (min-width: 1061px) and (max-width: 1174px) {


body {
 width: 100%;  
}
   
   .wrapper {
   width: 90%;  
   height: 100%;
   margin-top: 23m;
}

   .side-bar {
       width: 20%;
       float: left;  
       margin-left: 8em;    
   }

   .content {
     width: 65%;
     float:left;
 }

.menu img {
    width: 2.5em;  
}

.menu li {
    margin-top: 0.8em;
}

.menu li:hover img {
    margin-left:1em;
   }

 .menu a {
      margin: 0; 
      padding-left: 1em; 
     vertical-align: 40%; 
     font-size: 1.7em;
  }

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 12em;
    margin-bottom:2em;
}

 .slider:after, .slider img:after, .below-slider:after, .subscribe:after, .posts:after, .content:after, .side-bar:after {
    
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

.slider {
    position: relative;
          width:100%;
}


.slider img {
   width: 100%;
}


.slider li {
     
        height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}   

.slider li.active {
    display: block;
}


.slider h2 {
    background: white;
  position: absolute;
  right: 0;
  top: 59%;
  padding: 0.1em;
  font-size: 2.1em;
  font-weight: lighter;
}

.slider p {
    background: black;
    color: white;
  position: absolute;
  right: 0;
  top: 74%;
  padding: 0.3em;
  font-size: 1.4em;
 
}

.below-slider {
    margin-top: 0;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.below-slider h4 {
 font-size: 1.8em;
 line-height: 0;
}


.below-slider p {
    font-size: 1em;
    line-height: 0.1em;
    padding-bottom: 1em;
   
}

.subscribe {
     padding: 0.8em;
     margin-top: 3em;
     margin-bottom:2em;
     border-top: 0.1em lightgray dashed;
     border-bottom: 0.1em lightgray dashed;
     } 

.subscribe input {
        width:25%;
    }

.subscribe lable {
        width:50%;
    }


.slider-col {
    width: 25%;
    float: left;
}

.posts {
    clear: left;
    width: 100%;
    margin-top: 10em;
    
}

.posts-col {
    width: 25%;
     float: left;
     padding: 0 1em;
}

.tweet, .community {
    margin-top:3em;
    width: 19em;
}

.below-slider p {
        display: none;
    }

}









@media only screen and (min-width: 1035px) and (max-width: 1060px) {



   body {
    
}

.wrapper {
    width: 80%;
    margin:0 auto;
}

.side-bar {
    width: 100%;
    float: left;
    
}

.content {
    width: 100%;
    float:left;
}

.side-bar li {
    display: inline-block;
   
}

.side-bar a {
   display: block;
    padding: em;
    padding-top:4em;
    vertical-align: 70%;
     padding-left: 2em; 
     margin-bottom:2em; 
     font-size: 1.2em;
     color: white;
 }

.menu img {
    width: 3.5em; 
      
}




.slider ul {
    list-style: none;
    padding: 0;
    margin: 0;
  
}

.logo img {
    width: 12em;
    
}

.logo {
    float: left;
    width: 10%;
}

.menu {
    float:left;
    width: 80%;
}

 .slider:after, .slider img:after, .below-slider:after, .subscribe:after, .posts:after, .content:after, .side-bar:after {
    
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;       
}


.slider img {
   width: 100%;
}


.slider li {
     
        height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}   

.slider li.active {
    display: block;
}


.slider h2 {
    background: white;
  position: absolute;
  right: 0;
  top: 63%;
  padding: 0.1em;
  font-size: 2.1em;
  font-weight: lighter;
  }

.slider p {
    background: black;
    color: white;
  position: absolute;
  right: 0;
  top: 74%;
  padding: 0.3em;
  font-size: 1.4em;
 
}

.below-slider {
    margin-top: 0;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.below-slider h4 {
 font-size: 1.8em;
 line-height: 0;
 text-align: center;
}


.below-slider p {
    font-size: 1em;
    line-height: 0.1em;
    padding-bottom: 1em;
   
}

.subscribe {
     padding: 0.8em;
     margin-top: 3em;
     margin-bottom:2em;
     border-top: 0.1em lightgray dashed;
     border-bottom: 0.1em lightgray dashed;
     } 

.subscribe input {
        width:25%;
    }

.subscribe lable {
        width:50%;
    }


.slider-col {
    width: 25%;
    float: left;
}

.posts {
    clear: left;
    width: 100%;
    margin-top: 2em;
    
}

.posts-col {
    width: 25%;
     float: left;
     padding: 0 1em;
}

.tweet, .community {
   display: none;
}

.below-slider p {
        display: none;
    }

}












@media only screen and (min-width: 840px) and (max-width: 1034px) {

     body {
    
}

.wrapper {
    width: 80%;
    margin:0 auto;
}



.content {
    width: 100%;
    float:left;
}

.side-bar li {
    display: none;
   
}

.side-bar a {
   display: block;
    padding: em;
    padding-top:4em;
    vertical-align: 70%;
     padding-left: 2em; 
     margin-bottom:2em; 
     font-size: 1.2em;
     color: white;
 }

.menu img {
    width: 3.5em; 
      
}




.slider ul {
    list-style: none;
    padding: 0;
    margin: 0;
  
}

.logo img {
    width: 10em;
    
}

.logo {
    float: left;
    width: 10%;
}

.menu {
    display: none;
}

 .slider:after, .slider img:after, .below-slider:after, .subscribe:after, .posts:after, .content:after, .side-bar:after {
    
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;       
}


.slider img {
   width: 100%;
}


.slider li {
     
        height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}   

.slider li.active {
    display: block;
}


.slider h2 {
    background: white;
  position: absolute;
  right: 0;
  top: 63%;
  padding: 0.1em;
  font-size: 1.8em;
  font-weight: lighter;
  }

.slider p {
    background: black;
    color: white;
  position: absolute;
  right: 0;
  top: 74%;
  padding: 0.3em;
  font-size: 1.2em;
 
}

.below-slider {
    margin-top: 0;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.below-slider h4 {
 font-size: 1.8em;
 line-height: 0;
 text-align: center;
}


.below-slider p {
    font-size: 1em;
    line-height: 0.1em;
    padding-bottom: 1em;
   
}

.subscribe {
     padding: 0.8em;
     margin-top: 3em;
     margin-bottom:2em;
     border-top: 0.1em lightgray dashed;
     border-bottom: 0.1em lightgray dashed;
     } 

.subscribe input {
        width:25%;
    }

.subscribe lable {
        width:50%;
    }


.slider-col {
   display: none;
}

.posts {
    clear: left;
    width: 100%;
    margin-top: 2em;
    
}

.posts-col {
    width: 25%;
     float: left;
     padding: 0 1em;
}

.tweet, .community {
   display: none;
}

.below-slider p {
        display: none;
    }

}












@media only screen and (min-width: 839px) and (max-width: 770px) {

     body {
    
}

.wrapper {
    width: 80%;
    margin:0 auto;
}



.content {
    width: 100%;
    float:left;
}

.side-bar .menu {
    display: none;
   
}

.tweet, .community {
   display: none;
}

.logo img {
    width: 8em;
    
}

.logo {
    float: left;
    width: 100%;
}

.menu {
    display: none;
}

 .slider:after, .slider img:after,  .subscribe:after, .posts:after, .content:after,  {
    
    content:".";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
}

.slider {
   
    width: 100%;
    
}


.slider img {
   width: 80%;
}


.slider li {
     
        height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}   

.slider li.active {
    display: block;
}


.slider h2 {
    background: white;
  position: absolute;
  right: 0;
  top: 63%;
  padding: 0.1em;
  font-size: 1.8em;
  font-weight: lighter;
  }

.slider p {
    background: black;
    color: white;
  position: absolute;
  right: 0;
  top: 74%;
  padding: 0.3em;
  font-size: 1.2em;
 
}

.below-slider {
    display: none;
}



.subscribe {
     padding: 0.8em;
     margin-top: 3em;
     margin-bottom:2em;
     border-top: 0.1em lightgray dashed;
     border-bottom: 0.1em lightgray dashed;
     } 

.subscribe input {
        width:25%;
    }

.subscribe lable {
        width:50%;
    }


.slider-col {
    width: 25%;
    float: left;
}

.posts {
    clear: left;
    width: 100%;
    margin-top: 2em;
    float:left;
    
}

.posts-col {
    width: 50%;
     float: left;
     padding: 0 1em;
}



.below-slider p {
        display: none;
    }

}