@import url(font-awesome.min.css);
@import url(http://github.com/necolas/normalize.css);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
@import url(grid.css);



html, body {
  height: 100%;
}


 * {
box-sizing: border-box;
 } 

html {
	font-family: 'Aref Ruqaa', serif;
    font-size: 0.625rem;  /*REM =10PX*/
}   

.menu a, .below-slider h4, .below-slider p, .posts h5 {
    color: cadetblue;
}




.tweet, .community {
    margin-top:3em;
    width: 19em;
}

.side-bar button {
    border: lightgrey solid 0.1em;
    border-radius: 0.3em;
    background-color: white;
    color: cadetblue;
    font-style: italic;
    font-size: 1.1em;
    padding: 0.5em;
}

.uppercase {
    text-transform: uppercase;
    font-size: 1.2em;
}


.fa {
    color: cadetblue;
    font-size: 1.4em;
}

/* search*/
/*
.search {
    
    border: 0.1rem solid #233; 
    height: 2.5rem;  
     
    }

.search lable {
    float:left;
}

.search input {
    border: none;
   float: right;
    padding-right: 4rem;
   
    padding-left: 1em;
} 

.search button {
   float: right;
    border:none;
    width: 3rem;
  
    background: none;
}

::-webkit-input-placeholder {font-style:italic}
::-moz-placeholder          {font-style:italic}/* Firefox 19+ */
:-moz-placeholder           {font-style:italic}/* Firefox 18- */
:-ms-input-placeholder      {font-style:italic}


/*slider*/



.slider img {
    width: 896px;
    
}   




/*
.below-slider {
    background-color: lightblue;
}

li {
list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkorange;
}*/




.slider {
    position: relative;
    
}

.slider h2 {
    background: white;
  position: absolute;
  right: 0;
  top: 60%;
  padding: 0.4em;
  font-size: 2.5em;
  font-weight: lighter;
   
}

.slider p {
    background: black;
    color: white;
  position: absolute;
  right: 0;
  top: 74%;
  padding: 0.4em;
  font-size: 1.8em;
}

/*.slider::after {
    clear: both;
}

.below-slider {
      margin-top: 0em;
    margin-bottom: 1em;
   
    
     }

.below-slider h4 {
 font-size: 1.8em;
 line-height: 0;
  margin-bottom:0;
}


.below-slider p {
    font-size: 1em;
   
}

.col-1-4 {
        background-color: #EFFFFF;
        
       }

.col-1-4:hover {
background-color:#d9f2e6;
}

 

 .subscribe {
     padding: 0.3em;
     margin-top: 3em;
     margin-bottom:2em;
     border-top: 0.1em lightgray dashed;
     border-bottom: 0.1em lightgray dashed;
      
 }

.subscribe lable {
     display: inline-block;
     font-style: italic;
     float: left;
     width:50%;
 }   

 .subscribe img {
         float: left;
 }   

 .subscribe input,  .subscribe button {
     float:right;
 }
 
 .posts {
     margin-top: 0;
 }

 .posts h5 {
     font-size: 1.7em;
     margin:0;
     font-weight: unset;
 }

  .posts p {
     font-size: 1.2em;
      }

.posts img {
   width:100%;
   border: 0.1em solid lightgrey;
   padding: 0.6em; 
}



footer {
       height: 7em;
    margin-top: 4em;
    padding: 1em;
    border-top: 0.1em solid lightgray;
    width: 85%;
}

footer .copyright {
    float: left;
        
}

.copywrite p a {
    text-decoration: none;
    color: cadetblue;
    font-size: 1.5em;
}

footer .social {
    float:right;
}

footer .fa {
    font-size: 2.5em;
    color:gray;
    padding: 0 0.2em;
}*/